#search_input {
    width: 300px;
    margin: 2em auto 1em;
    padding: 1em;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 14px;
    background-color: transparent;
}