* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

#app-content {
    padding: 0 2em;

    h1 {
        text-align: center;
        padding-top: 1em;
    
        &#app-title {
            font-size: 3em;
        }
    }

    #app-main-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }
}
